body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
    margin: 2.5vw 0 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

input {
    font-family: "Noto Sans", sans-serif;
}

button {
    font-family: "Noto Sans", sans-serif;
    transition: transform 120ms ease,
        background-color 120ms ease,
        box-shadow 120ms ease;
}

button:hover {
    cursor: pointer;
}

.focus-mode {
    margin: 5vw 0 0;
    background-color: none;
    align-items: center;
    justify-content: center;
}

.pomodoro-time-face {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 50%;
    background-color: #8babfb;
    width: 350px;
    height: 350px;
    color: black;
    font-size: 50px;
}

.pomodoro-settings-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vw;
    gap: 2.5vw;
}

#pomodoro-type-selection,
#pomodoro-pause-start,
#pomodoro-restart {
    font-size: 25px;
    border: 1.5px solid black;
    border-radius: 15px;
    background: #8babfb;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

#pomodoro-type-selection:hover,
#pomodoro-pause-start:hover,
#pomodoro-restart:hover {
    cursor: pointer;
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

#firebaseTaskList {
    list-style: none;
    background: #eee;
    border: 1.5px solid black;
    border-radius: 15px;
}

span {
    margin-right: 2.5vw;
}

button {
    border: 1.5px solid black;
    border-radius: 15px;
    background: #8babfb;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
    padding: 1vw 2vw;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

#short-pomodoro-setting,
#med-pomodoro-setting,
#long-pomodoro-setting,
#closeTaskModal {
    border: 1.5px solid black;
    border-radius: 15px;
    background: #8babfb;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
    padding: 1vw 2vw;
    font-size: 15px;
}

#short-pomodoro-setting:hover,
#med-pomodoro-setting:hover,
#long-pomodoro-setting:hover,
#closeTaskModal:hover {
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

/* your task button */
.control-buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 2.5vw;
}

.control-buttons button {
    font-size: 15px;
    border: 1.5px solid black;
    border-radius: 15px;
    background: #8babfb;
    padding: 1vw;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

.control-buttons button:hover {
    cursor: pointer;
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.pomodoro-task-list {
    margin-top: 2.5em;
    border: 1.5px solid black;
    border-radius: 15px;
    background-color: #fff;
    padding: 1vw 2.5vw;
}

.pomodoro-task-list li {
    list-style: none;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
    padding: 5vw;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.task-item.dragging, .subtask-item.dragging {
    opacity: 0.5;
    background-color: lightgray;
}

/*red back button*/
.back-btn.danger {
    background: #fee;
    border: 1.5px solid black;
    border-radius: 15px;
    color: #900;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

.back-btn.danger:hover {
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

/* styling for mobile screens */
@media screen and (max-width: 600px) {
    body {
        background-image: url('../assets/bgimg/pmbg.png');
    }

    #pomodoro-type-selection,
    #pomodoro-pause-start,
    #pomodoro-restart {
        padding: 4vw;
    }

    .control-buttons {
        margin-top: 4vw;
    }

    .control-buttons button {
        padding: 4vw;
    }

    .back-btn.danger {
        padding: 4vw;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../assets/bgimg/pmbgd.jpg');
    }

    #pomodoro-type-selection,
    #pomodoro-pause-start,
    #pomodoro-restart {
        padding: 1vw;
    }

    .control-buttons {
        margin-top: 2.5vw;
    }

    .control-buttons button {
        padding: 1vw;
    }

    .back-btn.danger {
        padding: 1vw;
    }
}