body,
.noto-sans-font-style-normal {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#main-menu,
#productive-menu,
#food-med-menu,
#settings-menu {
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5vw 0;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    margin: 5vw;
    color: rgb(0, 0, 0);
    /*font*/
    font-size: 35px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.mm-button,
.pm-button,
.fmm-button,
.sm-button {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    border: 1.5px solid black;
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-weight: 550;
    gap: 10px;
    align-items: center;
}

.mm-button:hover,
.pm-button:hover,
.fmm-button:hover,
.sm-button:hover {
    background-color: rgb(36, 62, 92);
    color: #fff;
    gap: 10px;
    align-items: center;
}

/* styling for mobile screens */
@media screen and (max-width: 600px) {
    #main-menu {
        background-image: url('../assets/bgimg/mmbg.png');
    }

    #productive-menu {
        background-image: url('../assets/bgimg/pmbg.png');
    }

    #food-med-menu {
        background-image: url('../assets/bgimg/fmbg.png');
    }

    #settings-menu {
        background-image: url('../assets/bgimg/smbg.png');
    }

    .header {
        margin-top: 15vw;
    }

    .mm-button,
    .pm-button,
    .fmm-button,
    .sm-button {
        margin-top: 7vw;
        margin-bottom: 7vw;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 5vw;
    }
}

/* styling for desktop screens */
@media screen and (min-width: 768px) {
    #main-menu {
        background-image: url('../assets/bgimg/mmbgd.jpg');
    }

    #productive-menu {
        background-image: url('../assets/bgimg/pmbgd.jpg');
    }

    #food-med-menu {
        background-image: url('../assets/bgimg/fmbgd.jpg');
    }

    #settings-menu {
        background-image: url('../assets/bgimg/smbgd.jpg');
    }

    .header {
        margin-top: 1vw;
    }

    .title {
        font-weight: 800;
    }

    .mm-button,
    .pm-button,
    .fmm-button,
    .sm-button {
        padding: 1.5vw;
        margin: 5vw;
    }
}