body {
    background-color: #f8f8f8;
    font-family: "Noto Sans", sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
}

.button {
    display: flex;
    justify-content: center;
    border: 1.5px solid black;
    border-radius: 15px;
    background: #8babfb;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
    color: black;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: 550;
}

.button:hover {
    cursor: pointer;
    background-color: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.back-section {
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

#log-section {
    background: white;
    border: 1.5px solid black;
    border-radius: 15px;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

.log-section {
    background: white;
    border-radius: 15px;
    border: 1.5px solid black;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

.input {
    font-family: "Noto Sans", sans-serif;
    border: 1.5px solid black;
    border-radius: 15px;
}

.form-row {
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    font-weight: 400;
}

.form-row>label {
    opacity: .85;
}

.section-title {
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
}

.button.back-btn {
    align-self: center;
    background-color: #f99;
}

/* ??? */
.empty {
    opacity: .7;
}

@media screen and (max-width: 600px) {
    .page-container {
        flex-wrap: wrap;
    }

    #log-section {
        margin-bottom: 5vw;
        padding: 2.5vw;
    }

    .button {
        margin: 5vw 0 0;
    }

    .input {
        margin: 2.5vw 0 2.5vw;
    }

    input {
        padding: 0 2vw 0;
    }

    .log-section {
        margin-bottom: 5vw;
        padding: 5vw;
    }

    .pending-section {
        margin: 0 7vw;
        width: 100%;
    }

    .button.back-btn {
        padding: 2.5vw;
        margin: 0 0 5vw;
    }
}

@media screen and (min-width: 768px) {
    .button {
        padding: 0.5vw 1vw;
        margin: 0.5vw;
    }

    .title {
        margin-top: 5vw;
    }

    .page-container {
        margin: 0 10vw 2.5vw;
    }

    #log-section {
        margin: 0 1vw 2.5vw;
        padding: 1vw 1vw 2.5vw;
    }

    .log-section {
        margin: 0 1vw 2.5vw;
        padding: 1vw 1vw 2.5vw;
    }

    .input {
        padding: 0.5vw 1vw;
        margin: 1vw 0 1vw;
    }

    .section-title {
        font-size: 25px;
    }
}