body {
    background-color: #f8f8f8;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.modal {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal.active {
    display: flex;
}

.modal-content {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 5%;
}

.task-input-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#taskList li.completed .task-header {
    text-decoration: line-through;
    opacity: 0.5;
}

li.completed span, li.completed {
    text-decoration: line-through;
    opacity: 0.5;
}