html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* 100% of the Viewport Height */
    width: 100%;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

/* is this needed for task.css? */
.full {
    width: 94%;
}

.empty {
    opacity: .7;
}

body, button, input {
    font-family: "Noto Sans", sans-serif;
    background: white;
}

/* temp button styling, need to change this later to use icon assets */
button {
    border: none;
    border-radius: 15px;
    background: #eeeeee;
    padding: 0 0.5vw 0;
    font-size: large;
    /* border: 1.5px solid black;
    border-radius: 15px;
    padding: 0.5vw 1vw;
    margin-right: 0.5vw;
    background-color: #8babfb;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
    font-weight: 550; */
}

button:hover {
    cursor: pointer;
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

/* ui screen optimization */
.task-nav {
    display: flex;
    justify-content: center;
}

.task-tab {
    border: 1.5px solid black;
    border-radius: 15px;
    background: #8babfb;
    color: black;
    font-weight: 550;
    cursor: pointer;
    transition: all 120ms ease;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

.task-tab:hover {
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.task-summary-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.summary-section {
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
    width: 100%;
    min-height: 200px;
    font-weight: 550;
}

.section-title {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
}

.modal {
    display: none;
}

.modal-content {
    border: 1.5px solid black;
    border-radius: 15px;
    background: #fff;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
    
}

/* shadow overlay */
.modal.active {
    display: flex;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    padding: 10px 6px;
    border-bottom: 1px solid #eee;
    gap: 10px;
    flex-wrap: wrap; /* prevents button overlap */
    cursor: grab;
    user-select: none;
        z-index: 1050;
}

/* input fields */
input[type="text"] {
    border-radius: 15px;
    border: 1.5px solid black;
    width: 100%;
    box-sizing: border-box;
    /*ensures input border stays within modal*/
}

/* list styling for create task modal*/
.clean-list {
    list-style: none;
    padding: 0;
}

.clean-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #eeeeee;
    font-size: 15px;
}

/* trigger button */
.ai-trigger-btn {
    border: 1.5px solid #b18cff !important;
    border-radius: 15px;
    background: #e0ccff !important;
    width: 100%;
}

/* AI BOX AND PILLS */
.ai-box {
    border: 1.5px dashed #b18cff;
    border-radius: 15px;
    background: #f3ebff;
}

/* "GEMINI SUGGESTIONS" */
.ai-label {
    color: #6200ea;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.pill-container {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    font-size: 15px;
}

.ai-pill {
    display: flex;
    align-items: center;
    border: 1.5px solid #b18cff;
    border-radius: 15px;
    background: #fff;
    box-shadow: 1px 2px 0px rgba(177, 140, 255, 0.25);
}

/* add gemini suggest (+) button */
.ai-pill button {
    background: #b18cff !important;
    color: white !important;
    border: none !important;
    border-radius: 50% !important;
    width: 22px !important;
    height: 22px !important;
    padding: 0 !important;
    font-size: 15px !important;
    box-shadow: none !important;
}

/* save and cancel task buttons */
.modal-buttons {
    display: grid;
    gap: 1vw;
}

.modal-buttons button {
    padding: 2vw 0;
}

.danger {
    background: #fee !important;
    border-color: #f99 !important;
    color: #900 !important;
}

/* not affecting anything? */
.danger:hover {
    cursor: pointer;
    background: #414080;
    color: whitesmoke;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.task-item,
.routine-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
    border-bottom: 1px solid #eee;
    margin-top: 1vw;
    gap: 1vw;
}

.subtask-item {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    margin-top: 1vw;
    gap: 1vw;
}

.task-item.dragging, .subtask-item.dragging {
    opacity: 0.5;
    background-color: lightgray;
}

/* task edit buttons */
.task-buttons {
    display: flex;
    flex-shrink: 0;
}

#home-button {
    border: 1.5px solid black;
    border-radius: 15px;
    background: #fb8b8b;
    color: black;
    font-weight: 550;
    cursor: pointer;
    transition: all 120ms ease;
    box-shadow: -2px 3px 0.5px rgba(0, 0, 0, 0.25);
}

.routine-item {
    list-style: none;
}

select {
    border: 1.5px solid black;
    border-radius: 15px;
    background: white;
    font-family: "Noto Sans", sans-serif;
}

option {
    font-family: "Noto Sans", sans-serif;
}

/* styling for mobile screens */
@media screen and (max-width: 600px) {
    body {
        background-image: url('../assets/bgimg/pmbg.png');
    }

    .page-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .task-nav {
        gap: 2.5vw;
        margin-top: 10vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .task-tab {
        padding: 2.5vw;
        font-size: 4vw;
    }

    .task-summary-wrapper {
        margin: 5vw;
        gap: 2.5vw;
    }

    .summary-section {
        padding: 2.5vw;
        gap: 2.5vw;
    }

    .modal-content {
        padding: 2.5vw;
        margin: 2..5vw
    }

    input[type="text"] {
        margin: 2.5vw 0 0;
        padding: 2.5vw;
    }

    .clean-list li {
        margin: 2.5vw 0 2.5vw;
        padding: 2.5vw;
    }

    .ai-trigger-btn {
        padding: 2.5vw;
        margin-bottom: 2.5vw;
    }

    .ai-box {
        padding: 2.5vw;
        margin-bottom: 2.5vw;
    }

    .ai-label {
        margin: 2.5vw 0;
    }

    .ai-pill {
        padding: 1vw 2.5vw;
        gap: 1vw;
    }

    .modal-buttons button {
        padding: 2.5vw 0;
    }

    #home-button {
        padding: 2.5vw;
        margin-top: 5vw;
    }
}

/* for desktop styling */
@media screen and (min-width: 768px) {
    body {
        background-image: url('../assets/bgimg/pmbgd.jpg');
    }

    .page-container {
        margin: 0 10vw;
    }

    .task-nav {
        align-items: center;
        gap: 1vw;
        margin: 5vw 0 0;
    }

    .task-tab {
        padding: 1vw;
        font-size: 18px;
        min-width: 350px;
    }

    .task-summary-wrapper {
        margin: 1vw 5vw 1vw;
        gap: 1vw;
        justify-content: center;
    }

    .summary-section {
        padding: 1vw;
        max-width: 500px;
    }

    .modal-content {
        margin: 5vw 0;
        padding: 2vw;
        max-width: 500px;
    }

    input[type="text"] {
        margin: 1vw 0 0;
        padding: 1vw;
    }

    .clean-list li {
        margin: 1vw 0 1vw;
        padding: 1vw;
    }

    .ai-trigger-btn {
        padding: 1vw;
        margin-bottom: 1vw;
    }

    .ai-box {
        padding: 1vw;
        margin-bottom: 1vw;
    }

    .ai-label {
        margin: 1vw 0;
    }

    .ai-pill {
        padding: 0.5vw 1vw;
        gap: 0.5vw;
    }

    #home-button {
        padding: 1vw;
        margin-top: 10vw;
    }

    select {
        padding: 1vw;
    }
}

#currentTasks {
    padding: 0;
}